<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>megha</h3>
    {% for comment in Comment %}
<div class="row my-3">
    <div class="col-md-1  ">
    <img class="rounded mx-auto d-block w-100 p-2" src="#"  alt="user">
    </div>
    <div class="col-md-11 "> 
    <b> {{comment.User}} </b> at {{comment.timestamp}}
    <div>{{comment.comment}} </div>
    <div>megha </div>
</div>
</div>
{% endfor %}
</body>
</html>