<!-- <div class="col-md-4">
    <div style="margin:10px"><h4>Add comments (no of comments)</h4>
        <br>
        <hr>
        {% if not data.comments.all %}
        <p>Not comments added yet...</p>
        {% else %}
        {% for comment in data.comments.all %}
        
        <p>{{ comment.Comment}}</p>
        <h4><strong>-By{{ comment.User}}</strong></h4>
        <p><small>{{ comment.Timestamp}}</small></p>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample">
              Reply
            </a>
            
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
        {% endfor %}
        {% endif %}
        <p><a class="btn btn-primary" href="{% url 'addcomment' data.id %}">Add Comment</a></p>
        
        

    </div>

</div> -->

<!-- servicedetail page code -->


1
1
1
1
1
1
3